.task_sec{
    margin: auto;
    margin-bottom: 90px;
    text-align: center;
    /* margin-top: 132px; */
}

.Task_div{
    max-width: 1795px;
}

.task_div_bg{
    height: 300px;
    margin-top: 34px;
    margin-bottom: 40px;
    border-radius: 8px;
    background: rgb(225, 215, 215);
}