.core_client_sec{
    margin: auto;
    margin-bottom: 90px;
    text-align: center;
}

.testi_div{
    height: 250px;
    /* background: #000; */
    margin: auto;
    margin-top: 2rem;
    border-radius: 8px;
    padding: 3.5rem 3rem;
    box-shadow: 1px 2px 10px rgb(208, 208, 208);
}

.testi_div .p1{
    font-size: 18px;
    margin-bottom: 2.5rem;
}

.testi_div h6{
    font-weight: bold;
}

.carosul{
    margin: auto;
    margin-top: 1.5rem;
}

.carosul_bg{
    height: 50px;
    width: 70px;
    padding: 8px;
    /* margin: auto; */
    border-radius: 100%;
    background-color: #594182;
}

.carosul_bg img{
    width: 40px;
}

.carosul-2{
    background-color: #ffffff;
    margin-right: .4rem;
}

@media only screen and (max-width: 744px) {
    .testi_div{
        height: 300px;
        
    }
}

@media only screen and (max-width: 550px) {
    .testi_div{
        height: 370px;
        
    }
}