.creative_sec{
    /* margin-top: 132px; */
    margin-bottom: 170px;
}

.create_uptitle{
    color: black;
    font-weight: bold;
}

.create_img_div{
    width: 50px;
    height: 50px;
    /* background-color: black; */
    position: relative;
    border-radius: 8px;
    box-shadow: 2px 7px 10px rgb(163, 154, 154);
    margin-bottom: 1.5rem;
}

.create_img_div-2{
    position: absolute;
    width: 53px;
    height: 55px;
    margin-top: -.6rem;
    left: -.11rem;
    border-radius: 100%;
    text-align: center;
    padding-top: .8rem;
    background-color: rgba(179, 138, 251, 1);
}

.creative_para{
    font-size: 18px;
    margin-bottom: 2.5rem;
}

.creative_imag_part img{
    width: 85%;
    margin: auto;
    margin-top: 3rem;
    margin-left: 2rem;
}