.exp_de_sec{
    /* margin-top: 132px; */
    /* margin-bottom: 170px; */
    margin-bottom: 90px;
}

.Experience_text{
    width: 100%;
    margin: auto;
    /* margin-bottom: 2.5rem; */
}

@media only screen and (max-width: 992px) {
    
    .Experience_text{
        margin-bottom: 2.5rem;
    }
}


.bg_circle-5{
    background-color: rgba(254, 223, 239, 0.7);
    /* box-shadow: 7px 5px 10px rgb(149, 149, 149); */
}   

.bg_circle-6{
    background-color: rgba(106, 252, 208, 0.5);
}   

.card_img_div-5{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 2px 7px rgb(216, 216, 216);
}   

.card_bg{
    background-color: rgba(255, 255, 255, 1);
}  

.card-exprence{
    padding: 16px 22px;
    border: 0;
    box-shadow: 1px 2px 10px rgb(204 204 204);
    margin-top: 0;
    margin-bottom: 25px;
}

.text_color{
    color: rgba(143, 73, 249, 1);
}
